body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul li {
  font-size: 22px;
  text-transform: capitalize;
}

li a {
  text-decoration: none;
}

li ul {
  color: slategray;
}

.album {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin: 20px 0;
}

.image {
  width: 100%;
  height: 300px;
  display: block;
  object-fit: cover;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
}
